body {
  text-align: center;
}

.reveal-wrapper {
  margin: 200px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.reveal-content {
  padding: 100px;
  color: #000000;
  background: #ffffff;
}

.door-left {
  background: #1f122c;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 4s ease-in-out;
}

.door-right {
  background: #1f122c;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: right 4s ease-in-out;
}
