body {
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* elevator */
.door-container {
  border: solid 2px #cccccc;
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: auto;
  margin-top: 10vh;
}

.door-inner-content {
  padding: 200px 100px;
  color: #000000;
  background: #ffffff;
}

/* left-door */
.door-left {
  background: #1f122c;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 2s ease-in-out;
  z-index: 2;
}

.door-left-enter {
  left: 0;
}

.door-left-enter-active,
.door-left-enter-done {
  left: -50%;
}

.door-left-exit {
  left: -50%;
}

.door-left-exit-active {
  left: 0;
}

/* right-door */
.door-right {
  background: #1f122c;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: right 2s ease-in-out;
  z-index: 2;
}

.door-right-enter {
  right: 0;
}

.door-right-enter-active,
.door-right-enter-done {
  right: -50%;
}

.door-right-exit {
  right: -50%;
}

.door-right-exit-active {
  right: 0;
}

/* buttons */
input[type="button"] {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}
