body {
  text-align: center;
}

.reveal-wrapper {
  margin: 200px;
  margin-bottom: 50px;
  border: solid 2px #cccccc;
  position: relative;
  overflow: hidden;
}

.reveal-content {
  padding: 100px;
  color: #000000;
  background: #ffffff;
}

.door-left {
  background: #1f122c;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: left 4s ease-in-out;
  z-index: 2;
}

.door-left-enter {
  left: 0;
}

.door-left-enter-active,
.door-left-enter-done {
  left: -50%;
}

.door-left-exit {
  left: -50%;
}

.door-left-exit-active {
  left: 0;
}

.door-right {
  background: #1f122c;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: right 4s ease-in-out;
  z-index: 2;
}

.door-right-enter {
  right: 0;
}

.door-right-enter-active,
.door-right-enter-done {
  right: -50%;
}

.door-right-exit {
  right: -50%;
}

.door-right-exit-active {
  right: 0;
}
